pip
git+git://github.com/Rapptz/discord.py.git#egg=discord.py[voice]
git+https://github.com/abenassi/Google-Search-API
youtube_dl
imgurpython
wikipedia
wikipedia-api
pyowm
gspread
apiai
oauth2client
schedule
PyOpenSSL
praw
sympy
numpy
pyfootball
country_converter
lyricwikia
