pip
git+https://github.com/abenassi/Google-Search-API
youtube_dl
imgurpython
wikipedia
wikipedia-api
pyowm
gspread
dialogflow
oauth2client
schedule
PyOpenSSL
praw
sympy
numpy
lyricwikia
cleverbotfree
